body {
	padding: 30px 50px;
	font-family: sans-serif;
	background-color: #173e43;
	color: #dddfd4;
}

h1, h2 {
	color: #fae596;
}

p::first-letter {
	font-weight: bold;
    font-family: "IBM Plex Mono";
    font-size: 150%;
}

strong {
	color: #fae596;
}

a {
	color: #3fb0ac;
	text-decoration: none;
}

a:visited {
	color: #3fb0ac;
}

a:hover {
	color: #fae596;
	text-decoration: underline;
}
